In [1]:
import pandas as pd
import re

# Kishida

In [2]:
file_path = 'kishida_before230630.txt'
file_mode = 'r'

file = open(file_path, file_mode, encoding='UTF-8')
data = file.read()
file.close()

In [3]:
data_cleaned = data.replace("１０月","date10月")
data_cleaned = data_cleaned.replace("１１月","date11月")
data_cleaned = data_cleaned.replace("１２月","date12月")
data_cleaned = data_cleaned.replace("１月","date1月")
data_cleaned = data_cleaned.replace("２月","date2月")
data_cleaned = data_cleaned.replace("３月","date3月")
data_cleaned = data_cleaned.replace("４月","date4月")
data_cleaned = data_cleaned.replace("５月","date5月")
data_cleaned = data_cleaned.replace("６月","date6月")
data_cleaned = data_cleaned.replace("７月","date7月")
data_cleaned = data_cleaned.replace("８月","date8月")

In [4]:
data_cleaned = data_cleaned.replace("１","1")
data_cleaned = data_cleaned.replace("２","2")
data_cleaned = data_cleaned.replace("３","3")
data_cleaned = data_cleaned.replace("４","4")
data_cleaned = data_cleaned.replace("５","5")
data_cleaned = data_cleaned.replace("６","6")
data_cleaned = data_cleaned.replace("７","7")
data_cleaned = data_cleaned.replace("８","8")
data_cleaned = data_cleaned.replace("９","9")
data_cleaned = data_cleaned.replace("０","0")

In [5]:
kishida = data_cleaned.split("date")

In [6]:
print(kishida[5])

6月26日（首相官邸）
2023/06/27 日本経済新聞　朝刊 4ページ 294文字


▽7時51分　公邸発。53分　東京・永田町のザ・キャピトルホテル東急。宴会場「桜・橘」で原田一之日本民営鉄道協会会長らとの勉強会。森昌文補佐官、藤井国交次官同席。

▽9時8分　官邸。9分　報道各社のインタビュー。

▽10時　尾身茂新型インフルエンザ等対策推進会議議長、岡部信彦川崎市健康安全研究所長、国立感染症研究所の斎藤智也感染症危機管理研究センター長。

▽11時　土屋敏夫日本生活協同組合連合会会長ら。

▽14時30分　福本拉致問題対策本部事務局長。

▽16時37分　国際アビリンピック金メダリストの中川直樹氏への表彰。

▽17時10分　米下院歳入委員会のニール議員らの表敬。

▽18時3分　公邸。

In [7]:
df_kishida = pd.DataFrame(kishida)

In [8]:
df_kishida = df_kishida.rename(columns={0: 'base'})
df_kishida.head(3)

                                                base
0                                                  ﻿
1  6月30日（首相官邸）\n2023/07/01 日本経済新聞　朝刊 4ページ 691文字 \...
2  6月29日（首相官邸）\n2023/06/30 日本経済新聞　朝刊 4ページ 310文字 \...

In [9]:
df_kishida["date"] = (
    df_kishida["base"]
    .str.split("（首相官邸）\n",expand=False)
    .str.get(0)
)


df_kishida.head(3)

                                                base   date
0                                                  ﻿      ﻿
1  6月30日（首相官邸）\n2023/07/01 日本経済新聞　朝刊 4ページ 691文字 \...  6月30日
2  6月29日（首相官邸）\n2023/06/30 日本経済新聞　朝刊 4ページ 310文字 \...  6月29日

In [10]:
df_kishida["publish_date"]  = (
    df_kishida["base"]
    .str.extract(r"(\d\d\d\d/\d\d/\d\d)", expand=False)
)
df_kishida.head(3)

                                                base   date publish_date
0                                                  ﻿      ﻿          NaN
1  6月30日（首相官邸）\n2023/07/01 日本経済新聞　朝刊 4ページ 691文字 \...  6月30日   2023/07/01
2  6月29日（首相官邸）\n2023/06/30 日本経済新聞　朝刊 4ページ 310文字 \...  6月29日   2023/06/30

In [11]:
df_kishida["activities"] = (
    df_kishida["base"]
    .str.split("文字",expand=False)
    .str.get(1)
)


df_kishida.head(3)

,base,date,publish_date,activities
0,﻿,﻿,NaN,NaN
1,6月30日（首相官邸）\n2023/07/01 日本経済新聞 朝刊 4ページ 691文字 \...,6月30日,2023/07/01,\n\n\n▽9時18分 公邸から官邸。24分 林外相、野村農相、西村経産相、西村環境相、...
2,6月29日（首相官邸）\n2023/06/30 日本経済新聞 朝刊 4ページ 310文字 \...,6月29日,2023/06/30,\n\n\n▽9時57分 公邸から官邸。\n\n▽10時5分 木原官房副長官、藤井、岡野両...

In [12]:
df_kishida = df_kishida.drop(0, axis=0)
df_kishida.head(3)

,base,date,publish_date,activities
1,6月30日（首相官邸）\n2023/07/01 日本経済新聞 朝刊 4ページ 691文字 \...,6月30日,2023/07/01,\n\n\n▽9時18分 公邸から官邸。24分 林外相、野村農相、西村経産相、西村環境相、...
2,6月29日（首相官邸）\n2023/06/30 日本経済新聞 朝刊 4ページ 310文字 \...,6月29日,2023/06/30,\n\n\n▽9時57分 公邸から官邸。\n\n▽10時5分 木原官房副長官、藤井、岡野両...
3,6月28日（首相官邸）\n2023/06/29 日本経済新聞 朝刊 4ページ 361文字 \...,6月28日,2023/06/29,\n\n\n▽10時12分 公邸から官邸。14分 永岡文科相。49分 亀岡偉民衆院議員。\...

In [13]:
df_kishida = df_kishida.replace('', pd.NA)
df_kishida

,base,date,publish_date,activities
1,6月30日（首相官邸）\n2023/07/01 日本経済新聞 朝刊 4ページ 691文字 \...,6月30日,2023/07/01,\n\n\n▽9時18分 公邸から官邸。24分 林外相、野村農相、西村経産相、西村環境相、...
2,6月29日（首相官邸）\n2023/06/30 日本経済新聞 朝刊 4ページ 310文字 \...,6月29日,2023/06/30,\n\n\n▽9時57分 公邸から官邸。\n\n▽10時5分 木原官房副長官、藤井、岡野両...
3,6月28日（首相官邸）\n2023/06/29 日本経済新聞 朝刊 4ページ 361文字 \...,6月28日,2023/06/29,\n\n\n▽10時12分 公邸から官邸。14分 永岡文科相。49分 亀岡偉民衆院議員。\...
4,6月27日（首相官邸）\n2023/06/28 日本経済新聞 朝刊 4ページ 458文字 \...,6月27日,2023/06/28,\n\n\n▽9時26分 公邸発。28分 党本部。30分 党役員会。56分 官邸。\n\n...
5,6月26日（首相官邸）\n2023/06/27 日本経済新聞 朝刊 4ページ 294文字 \...,6月26日,2023/06/27,\n\n\n▽7時51分 公邸発。53分 東京・永田町のザ・キャピトルホテル東急。宴会場「...
...,...,...,...,...
588,10月8日（首相官邸）\n2021/10/09 日本経済新聞 朝刊 4ページ 554文字 \...,10月8日,2021/10/09,\n\n\n▽0時45分 二之湯防災相、木原、磯崎、栗生各官房副長官、沖田内閣危機管理監、...
589,10月7日（首相官邸）\n2021/10/08 日本経済新聞 朝刊 4ページ 516文字 \...,10月7日,2021/10/08,\n\n\n▽8時21分 東京・赤坂の衆院議員宿舎発。24分 官邸。\n\n▽9時 高市政...
590,10月6日（首相官邸）\n2021/10/07 日本経済新聞 朝刊 4ページ 342文字 \...,10月6日,2021/10/07,\n\n\n▽9時8分 東京・赤坂の衆院議員宿舎発。22分 東京・三番町の宮内庁分庁舎。就...
591,10月5日（首相官邸）\n2021/10/06 日本経済新聞 朝刊 4ページ 395文字 \...,10月5日,2021/10/06,\n\n\n▽7時27分 東京・赤坂の衆院議員宿舎発。31分 官邸。\n\n▽8時15分 ...
592,10月4日（首相官邸）\n2021/10/05 日本経済新聞 朝刊 4ページ 413文字 \...,10月4日,2021/10/05,\n\n\n〔岸田文雄氏〕\n▽14時2分 衆院の正副議長、議運委員長、与野党各会派にあい...

In [14]:
#filtered_df = df_kishida[df_kishida['activities'].str.contains('木原')].copy()

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [16]:
# 欠損値のある行の番号を取得
missing_rows = df_kishida.index[df_kishida.isna().any(axis=1)]

# 結果の表示
print(missing_rows)

Index([59, 61, 62, 297, 299, 300, 565], dtype='int64')

In [18]:
row_59 = df_kishida.iloc[58]  # 行番号は0から始まるため、59行目はインデックス58となります
print(row_59)

base            4月30日・
date            4月30日・
publish_date       NaN
activities         NaN
Name: 59, dtype: object

In [19]:
row_59 = df_kishida.iloc[59]  # 行番号は0から始まるため、59行目はインデックス58となります
print(row_59)

base            5月1日（首相官邸）\n2023/05/02 日本経済新聞　朝刊 4ページ 200文字 \n...
date                                                         5月1日
publish_date                                           2023/05/02
activities                                        \n\n\n（現地時間）\n〈
Name: 60, dtype: object

In [20]:
df_kishida.to_csv('df_kishida_csv_out.csv')