In [1]:
import pandas as pd

In [2]:
df_date = pd.read_csv('date_data.csv')

In [3]:
df = pd.read_csv('df.csv')
df = df.drop(columns=['Unnamed: 0', 'original'])

In [4]:
df['haircut'] = df['activities'].str.contains('散髪')
df['walking'] = df['activities'].str.contains('散歩')
df['golf'] = df['activities'].str.contains('ゴルフ')
df['massage'] = df['activities'].str.contains('マッサージ')
df['interview'] = df['activities'].str.contains('インタビュー')
df['air_force_one'] = df['activities'].str.contains('政府専用機')

In [5]:
#df_analysis = pd.merge(df_date, df, how='left', left_on=['date_est'], right_on = ['date_est'])
df = df_date.merge(df, how='outer', on=['date_est','PM'])

In [6]:
abe_mask = (df['date_est'] >= "2012-12-25") & (df['date_est'] <= "2020-09-15")
df.loc[abe_mask, 'PM'] = "Shinzo_Abe"
suga_mask = (df['date_est'] >= "2020-09-17") & (df['date_est'] <= "2021-10-03")
df.loc[suga_mask, 'PM'] = "Yoshihide_Suga"
kishida_mask = (df['date_est'] >= "2021-10-05") & (df['date_est'] <= "202307-13") 
df.loc[kishida_mask, 'PM'] = "Fumio_Kishida"

In [7]:
df[['haircut', 'walking', 'golf', 'massage', 'interview', 'air_force_one']] = df[['haircut', 'walking', 'golf', 'massage', 'interview', 'air_force_one']].fillna(False)

#missing_rows = df[df["year"].isnull() | df["month"].isnull() | df["day"].isnull()]
#print(missing_rows)
        date_est  year  month  day  year_month yy_mm yy_mmm              PM  \
3876  2020-09-16   NaN    NaN  NaN         NaN   NaN    NaN      Shinzo_Abe   
3877  2021-10-04   NaN    NaN  NaN         NaN   NaN    NaN  Yoshihide_Suga   

       date publish_date                                         activities  \
3876  9月16日   2020-09-17  ▽8時42分　東京・富ケ谷の私邸発。55分　官邸。56分　報道各社のインタビュー。▽9時3分...   
3877  10月4日   2021-10-05  ▽7時51分　東京・赤坂の衆院議員宿舎発。56分　官邸。敷地内を散歩。▽9時4分　臨時閣議。...   

      haircut  walking   golf  massage  interview  air_force_one  
3876    False    False  False    False       True          False  
3877    False     True  False    False      False          False

In [8]:
df["year"] = df["year"].fillna(0).astype(int)
df["month"] = df["month"].fillna(0).astype(int)
df["day"] = df["day"].fillna(0).astype(int)
df = df.sort_values(by='date_est', ascending=True)
df = df.loc[df['date_est'] < '2023-07-01']
df

,date_est,year,month,day,year_month,yy_mm,yy_mmm,PM,date,publish_date,activities,haircut,walking,golf,massage,interview,air_force_one
0,2012-12-26,2012,12,26,201212.0,2012-12,2012-Dec,Shinzo_Abe,12月26日,2012-12-27,〈26日〉▽18時22分 皇居で首相親任式、閣僚認証式。▽21時39分 官邸で記者会見。▽2...,False,False,False,False,False,False
1,2012-12-27,2012,12,27,201212.0,2012-12,2012-Dec,Shinzo_Abe,12月27日,2012-12-28,▽10時21分 官邸で菅官房長官、加藤官房副長官。▽11時29分 古屋拉致担当相、三谷拉致問...,False,False,False,False,False,False
2,2012-12-28,2012,12,28,201212.0,2012-12,2012-Dec,Shinzo_Abe,12月28日,2012-12-29,▽8時40分 富ケ谷の私邸発。▽9時1分 党本部で高村副総裁、石破幹事長。▽9時34分 官邸...,False,False,False,False,False,False
3,2012-12-29,2012,12,29,201212.0,2012-12,2012-Dec,Shinzo_Abe,12月29日,2012-12-30,▽6時6分 富ケ谷の私邸発。▽6時40分 やまびこ203号でＪＲ東京駅発。▽8時19分 ＪＲ...,False,False,False,False,True,False
4,2012-12-30,2012,12,30,201212.0,2012-12,2012-Dec,Shinzo_Abe,12月30日,2012-12-31,午前中は富ケ谷の私邸で過ごす。▽13時 官邸でＴＢＳのインタビュー。▽14時20分 産経新...,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3856,2023-06-26,2023,6,26,20236.0,2023-06,2023-Jun,Fumio_Kishida,6月26日,2023-06-27,▽7時51分 公邸発。53分 東京・永田町のザ・キャピトルホテル東急。宴会場「桜・橘」で原田...,False,False,False,False,True,False
3857,2023-06-27,2023,6,27,20236.0,2023-06,2023-Jun,Fumio_Kishida,6月27日,2023-06-28,▽9時26分 公邸発。28分 党本部。30分 党役員会。56分 官邸。▽10時2分 閣議。1...,False,False,False,False,False,False
3858,2023-06-28,2023,6,28,20236.0,2023-06,2023-Jun,Fumio_Kishida,6月28日,2023-06-29,▽10時12分 公邸から官邸。14分 永岡文科相。49分 亀岡偉民衆院議員。▽11時 国場幸...,False,False,False,False,False,False
3859,2023-06-29,2023,6,29,20236.0,2023-06,2023-Jun,Fumio_Kishida,6月29日,2023-06-30,▽9時57分 公邸から官邸。▽10時5分 木原官房副長官、藤井、岡野両官房副長官補、村井、森...,False,False,False,False,False,False
3860,2023-06-30,2023,6,30,20236.0,2023-06,2023-Jun,Fumio_Kishida,6月30日,2023-07-01,▽9時18分 公邸から官邸。24分 林外相、野村農相、西村経産相、西村環境相、松野、木原、磯...,False,False,False,False,False,False

In [9]:
df_visualize = df[['date_est', 'year_month','year', 'month', 'day', 'year_month', 'yy_mm', 'yy_mmm', 'PM', 'haircut', 'walking', 'golf', 'massage', 'interview', 'air_force_one', 'date', 'activities']]
df_visualize[["haircut", "walking", "golf", "massage", "interview", "air_force_one"]] = df_visualize[["haircut", "walking", "golf", "massage", "interview", "air_force_one"]].replace({True: "YES!", False: "No"})

In [10]:
df_visualize.to_csv("df_visualize.csv",encoding='UTF-8')

In [11]:
df_abe = df_visualize[df_visualize['PM'] == 'Shinzo_Abe']
df_abe.to_csv('df_abe.csv', index=False)

In [12]:
df_kishida = df_visualize[df_visualize['PM'] == 'Fumio_Kishida']
df_kishida.to_csv('df_kishida.csv', index=False)

In [13]:
df_suga = df_visualize[df_visualize['PM'] == 'Yoshihide_Suga']
df_suga.to_csv('df_suga.csv', index=False)

# Search word

In [14]:
freq_df = df.groupby('PM')[['haircut', 'walking', 'golf', 'massage', 'interview', 'air_force_one']].sum()

In [15]:
freq_df

                haircut  walking  golf  massage  interview  air_force_one
PM
Fumio_Kishida        41        0     4        9        255             52
Shinzo_Abe           93       16   107        1        751            292
Yoshihide_Suga       12      199     1        2        135             13

In [16]:
from datetime import datetime
freq_df['term_days'] = 0
freq_df.loc['Shinzo_Abe', 'term_days'] = (datetime(2020, 9, 16) - datetime(2012, 12, 26)).days + 1
freq_df.loc['Yoshihide_Suga', 'term_days'] = (datetime(2021, 10, 4) - datetime(2020, 9, 16)).days + 1
freq_df.loc['Fumio_Kishida', 'term_days'] = (datetime(2023, 6, 30) - datetime(2021, 10, 4)).days + 1

freq_df

,haircut,walking,golf,massage,interview,air_force_one,term_days
PM,,,,,,,
Fumio_Kishida,41,0,4,9,255,52,635
Shinzo_Abe,93,16,107,1,751,292,2822
Yoshihide_Suga,12,199,1,2,135,13,384

In [17]:
freq_df['freq_haircut'] = freq_df['haircut'] / freq_df['term_days'] * 365
freq_df['freq_walking'] = freq_df['walking'] / freq_df['term_days'] * 365
freq_df['freq_golf'] = freq_df['golf'] / freq_df['term_days'] * 365
freq_df['freq_massage'] = freq_df['massage'] / freq_df['term_days'] * 365
freq_df['freq_interview'] = freq_df['interview'] / freq_df['term_days'] * 365
freq_df['freq_air_force_one'] = freq_df['air_force_one'] / freq_df['term_days'] * 365

In [18]:
freq_df

,haircut,walking,golf,massage,interview,air_force_one,term_days,freq_haircut,freq_walking,freq_golf,freq_massage,freq_interview,freq_air_force_one
PM,,,,,,,,,,,,,
Fumio_Kishida,41,0,4,9,255,52,635,23.566929,0.000000,2.299213,5.173228,146.574803,29.889764
Shinzo_Abe,93,16,107,1,751,292,2822,12.028703,2.069454,13.839476,0.129341,97.135011,37.767541
Yoshihide_Suga,12,199,1,2,135,13,384,11.406250,189.153646,0.950521,1.901042,128.320312,12.356771

In [19]:
freq_df.to_csv('freq_df.csv')